<div class="menu-wrapper">
    <div class="menu-left">
        <div class="logo">
            <img src="assets/img/logo.svg" alt="">
            <div class="logo-name" id="logo-name"></div>
        </div>
        <div class="actions">
            <div class="action save">
                <img src="assets/img/save.svg" alt="">
                <div class="title">Save</div>
            </div>
            <div class="action share">
                <img src="assets/img/share.svg" alt="">
                <div class="title">Share</div>
            </div>
            <div class="action play">
                <img src="assets/img/play.svg" alt="">
                <div class="title">Play</div>
            </div>
        </div>
    </div>
    <div class="menu-center">
        <div class="page-name">Page Home</div>
        <div class="page-name-edit">
            <img src="assets/img/pen.svg" alt="">
        </div>
    </div>
    <div class="menu-right"></div>
</div>