/* You can add global styles to this file, and also import other style files */
:root {
  --bg-header: #ffffff;
  --bg-footer: #ffbe0b;
  --border: #ededed;
  --color-1: #4cc9f0;
  --color-2: #4895ef;
  --color-3: #4361ee;
  --color-4: #3f37c9;
  --color-5: #3a0ca3;
  --color-6: #480ca8;
  --color-7: #560bad;
  --color-8: #7209b7;
  --color-9: #b5179e;
  --color-10: #f72585;
  --color-1-rgb: 76,201,240;
  --color-2-rgb: 72,149,239;
  --color-3-rgb: 67,97,238;
  --color-4-rgb: 63,55,201;
  --color-5-rgb: 58,12,163;
  --color-6-rgb: 72,12,168;
  --color-7-rgb: 86,11,173;
  --color-8-rgb: 114,9,183;
  --color-9-rgb: 181,23,158;
  --color-10-rgb: 247,37,133;
  --filter-color-1: invert(66%) sepia(12%) saturate(1775%) hue-rotate(148deg)
    brightness(101%) contrast(108%);
  --filter-color-3: invert(33%) sepia(39%) saturate(3095%) hue-rotate(216deg)
    brightness(95%) contrast(96%);
  --filter-color-10: invert(29%) sepia(56%) saturate(5965%) hue-rotate(318deg)
    brightness(99%) contrast(95%);
  --gray-fbfbfb: #fbfbfb;
  --gray-f9f9f9: #f9f9f9; // #f1f1f1 extend
  --gray-f6f6f6: #f6f6f6; // #f1f1f1 extend
  --gray-f4f4f4: #f4f4f4; // #f1f1f1 extend
  --gray-f1f1f1: #f1f1f1;
  --gray-e7e7e7: #e7e7e7;
  --gray-dedede: #dedede;
  --gray-d4d4d4: #d4d4d4;
  --gray-cacaca: #cacaca;
  --gray-c0c0c0: #c0c0c0;
  --gray-b6b6b6: #b6b6b6;
  --gray-adadad: #adadad;
  --gray-a3a3a3: #a3a3a3;
  --gray-999999: #999999;
  --gray-8f8f8f: #8f8f8f;
  --gray-858585: #858585;
  --filter-gray-dedede: invert(99%) sepia(0%) saturate(3682%) hue-rotate(249deg)
    brightness(113%) contrast(74%);
  --filter-gray-cacaca: invert(98%) sepia(7%) saturate(78%) hue-rotate(212deg)
    brightness(115%) contrast(83%);
  --filter-gray-b6b6b6: invert(88%) sepia(0%) saturate(0%) hue-rotate(167deg)
    brightness(86%) contrast(83%);
  --filter-gray-adadad: invert(82%) sepia(0%) saturate(818%) hue-rotate(146deg)
    brightness(88%) contrast(80%);
  --filter-gray-a3a3a3: invert(59%) sepia(14%) saturate(0%) hue-rotate(172deg)
    brightness(109%) contrast(88%);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-e7e7e7);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-dedede);
}
