/* You can add global styles to this file, and also import other style files */
:root {
  --bg-header: #ffffff;
  --bg-footer: #ffbe0b;
  --border: #ededed;
  --color-1: #4cc9f0;
  --color-2: #4895ef;
  --color-3: #4361ee;
  --color-4: #3f37c9;
  --color-5: #3a0ca3;
  --color-6: #480ca8;
  --color-7: #560bad;
  --color-8: #7209b7;
  --color-9: #b5179e;
  --color-10: #f72585;
  --filter-color-1: invert(66%) sepia(12%) saturate(1775%) hue-rotate(148deg)
    brightness(101%) contrast(108%);
  --filter-color-3: invert(33%) sepia(39%) saturate(3095%) hue-rotate(216deg)
    brightness(95%) contrast(96%);
  --filter-color-10: invert(29%) sepia(56%) saturate(5965%) hue-rotate(318deg)
    brightness(99%) contrast(95%);
  --gray-fbfbfb: #fbfbfb;
  --gray-f1f1f1: #f1f1f1;
  --gray-e7e7e7: #e7e7e7;
  --gray-dedede: #dedede;
  --gray-d4d4d4: #d4d4d4;
  --gray-cacaca: #cacaca;
  --gray-c0c0c0: #c0c0c0;
  --gray-b6b6b6: #b6b6b6;
  --gray-adadad: #adadad;
  --gray-a3a3a3: #a3a3a3;
  --gray-999999: #999999;
  --gray-8f8f8f: #8f8f8f;
  --gray-858585: #858585;
  --filter-gray-cacaca: invert(98%) sepia(7%) saturate(78%) hue-rotate(212deg)
    brightness(115%) contrast(83%);
  --filter-gray-adadad: invert(82%) sepia(0%) saturate(818%) hue-rotate(146deg)
    brightness(88%) contrast(80%);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}

p {
  margin: 0;
}
